# Ignore Git files
.git
.gitignore

# Ignore Docker files
Dockerfile

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore local databases and session files
*.db
*.session
*.session-journal

# Ignore local downloads and logs
downloads/
logs/

# ... other ignores ...
.env


# Ignore project/editor specific files
.idea/
.vscode/
README.md
