# Core bot functionality
Pyrogram>=2.0.106,<3.0.0
TgCrypto

# For handling interactive user input
pyromod==1.4

# For reading video metadata
hachoir>=3.0.0,<4.0.0

# For image processing (thumbnails)
Pillow>=9.0.0,<10.0.0

# For asynchronous database connection (MongoDB)
motor>=3.0.0,<4.0.0
dnspython>=2.0.0,<3.0.0

# For running ffmpeg commands
ffmpeg-python>=0.2.0,<0.3.0

# For checking system status (/status command)
psutil>=5.9.0,<6.0.0
